<% include ../partials/admin-header.ejs %>
<form action='/show/<%= product._id %>/comment' method="POST">
    <h3>Add new Comment: </h3>
    Comment:<input type="comment[text]" name="comment[text]">
    <input type="submit" value="submit">
</form>
</body>
</html>